<h2>Nova Doença</h2>
<br>
<div class="container">
	<div class="row">
		<%= form_for Disease.new do |d| %>

		<div class="form-group">
			<%= d.label :nome %><br>
			<%= d.text_field :name , :autofocus => true %>
		</div>
		<div class="form-group">
			<%= d.label :estado %><br>
			<%= d.text_field :state %>
		</div>
		<div class="form-group">
			<%= d.label :quantidade %><br>
			<%= d.number_field :quantity, :step => '5' %>
		</div>
		<div class="form-group">
			<%= d.submit %>
		</div>
		<br><br>
		<% end %>
	</div>

<%= button_to 'Back', genes_path, :method => 'get' %>
</div>