<p id="notice"></p>
<h4>Doença</h4>

<p>
  <strong>Nome:</strong>
	<%= @disease.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @disease.state %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @disease.quantity %>
</p>

<p>
  <strong>Gene correspondente:</strong>
  <%= unless !@disease.gene
  	@disease.gene.name
  end %>
</p>
	

<p><%= button_to "Delete", @disease, :method => :delete %></p>
<br>
<%= button_to 'Back', genes_path, :method => 'get' %>
