<p id="notice"></p>
<h4>Doença</h4>
<br>
<p>
  <strong>Nome:</strong>
	<%= @disease.name %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @disease.state %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @disease.quantity %>
</p>

<p>
  <strong>Gene correspondente:</strong>
  <%= unless !@disease.gene
  	@disease.gene.name
  end %>
</p>
	

<%= link_to 'Edit', edit_disease_path(@disease) %> |     
<%= link_to "Delete", @disease, :method => :delete %>
<hr>
<p>
<%= button_to 'Back', genes_path, :method => 'get' %>
</p>