<h3>Novo Gene</h3>
<br>
<div class="container">

  <div class="row">
  <%= form_for Gene.new do |g| %>

    <div class="form-group">
      <%= g.label :Nome %><br>
      <%= g.text_field :name , :autofocus => true %>
    </div>
    <div class="form-group">
      <%= g.label :Variância %><br>
      <%= g.text_field :variance %>
    </div>
    <div class="form-group">
      <%= g.label :Informações %><br>
      <%= g.text_field :info %>
    </div>
    <div class="actions">
      <%= g.submit %>
    </div>
    <br><br>
    
  <% end %>
  </div>

</div>
<%= button_to 'Back', genes_path, :method => 'get' %>




